<div class="row g-3">
    <div class="col-md-6">{% include "includes/form_field.html" with field=form.nombre %}</div>
    <div class="col-md-6">{% include "includes/form_field.html" with field=form.apellido %}</div>
    <div class="col-md-6">{% include "includes/form_field.html" with field=form.edad %}</div>
    <div class="col-md-6">{% include "includes/form_field.html" with field=form.sexo %}</div>
    <div class="col-md-6">{% include "includes/form_field.html" with field=form.telefono %}</div>
    <div class="col-md-6">{% include "includes/form_field.html" with field=form.correo %}</div>
    <div class="col-12">{% include "includes/form_field.html" with field=form.direccion %}</div>
    <div class="col-12">{% include "includes/form_field.html" with field=form.antecedentes_medicos %}</div>
</div>
